@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: initial;
}

.reveal-text {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
  /* font-size: 6.75rem; */
  letter-spacing: 2px;
  line-height: 125%;
}

.stock-ticker {
  font-size: 15px;
  padding-block: 22px;
  user-select: none;
  --gap: 70px;
  display: flex;
  border-block: 1px solid #383838b9;
  gap: var(--gap);
  background-color: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.stock-ticker li img {
  /* filter: grayscale(100%); */
}
.stock-ticker li img:hover {
  filter: grayscale(0%);
}

.input-custom:focus {
  border-color: #e94d35;
  outline: none;
}

.mf-cursor {
  /* z-index: 10000; */
  color: #e94d35;
}

.text-outline {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  letter-spacing: 1px;
  text-transform: uppercase;
}
