@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.reveal-text {
  filter: drop-shadow(0 0 0.06rem rgb(255, 255, 255));
}

.stock-ticker {
  font-size: 15px;
  padding-block: 8px;
  user-select: none;
  --gap: 70px;
  display: flex;
  border-block: 1px solid #383838b9;
  gap: var(--gap);
  background-color: rgb(26, 24, 24);
  position: relative;
  overflow: hidden;
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.stock-ticker li img {
  filter: grayscale(100%);
}
.stock-ticker li img:hover {
  filter: grayscale(0%);
}

.input-custom:focus {
  border-color: #e94d35; /* Ensure the border color changes to orange on focus */
  outline: none; /* Remove the default outline */
}

.mf-cursor {
  /* z-index: 10000; */
  color: #e94d35;
}
